### Direnv initialisation file

make nixbuild
PATH_add .nix/bin
MANPATH_add .nix/share/man
## https://gitter.im/coq-community/Lobby?at=5cb442b1759abc043cc477b5
path_add COQPATH _build/install/default/lib/coq/user-contrib

### End of file

# Local Variables:
# mode: sh
# End:
