### Direnv initialisation file

make nixbuild
PATH_add .nix/bin
MANPATH_add .nix/share/man
export OPAMROOT=$(pwd)/.opam
opam init --no-setup --enable-shell-hook
source ${OPAMROOT}/opam-init/init.sh
opam install --yes coq-serapi

### End of file

# Local Variables:
# mode: sh
# End:
